.main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.ui {
	z-index: 100;
	pointer-events: all;
}

.placementPanel {
	width: calc(20vw + var(--scroll-width));
	height: 100vh;
	background-color: var(--background);
	overflow-y: auto;
	overflow-x: hidden;
}
