.button {
	-webkit-box-shadow: var(--shadow-s) var(--shadow-s) 0px 0px var(--shadow);
	-moz-box-shadow: var(--shadow-s) var(--shadow-s) 0px 0px var(--shadow);
	box-shadow: var(--shadow-s) var(--shadow-s) 0px 0px var(--shadow);
	width: 100%;
	border: var(--border-size) solid var(--text);
	display: block;
	text-decoration: none;
	background-color: var(--color);
	margin: 1rem;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	color: var(--text);
	transition: all 0.1s ease-in-out;
	letter-spacing: 2px;
	font-variant: small-caps;
}

.button:hover {
	background-color: var(--hover);
	transform: translate(var(--shadow-s), var(--shadow-s));
	-webkit-box-shadow: 0px 0px 0px 0px var(--shadow);
	-moz-box-shadow: 0px 0px 0px 0px var(--shadow);
	box-shadow: 0px 0px 0px 0px var(--shadow);
}
