.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.logo{
    text-align: center;
    margin: 2rem;
    color: var(--akcent);
    font-size: 5rem;
    letter-spacing: 10px;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: 0.5rem 0.5rem var(--shadow-color)
}

.navList{
    font-size: 2rem;
    padding: 0;
    margin: 2rem;
}

.navItem{
    display: flex;
    cursor: pointer;
}

.navLink{    
    -webkit-box-shadow:  var(--shadow-size) var(--shadow-size) 0px 0px var(--shadow-color);
    -moz-box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--shadow-color);
    box-shadow: var(--shadow-size) var(--shadow-size) 0px 0px var(--shadow-color);
    width: 100%;
    border: var(--border-size) solid var(--text);
    display: block;
    text-decoration: none;
    background-color: var(--main);
    margin: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    color: var(--text);
    transition: all 0.1s ease-in-out;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.navLink:hover{
    background-color: var(--main-dark);
    transform: translate(var(--shadow-size), var(--shadow-size));
    -webkit-box-shadow:  0px 0px 0px 0px var(--shadow-color);
    -moz-box-shadow: 0px 0px 0px 0px var(--shadow-color);
    box-shadow: 0px 0px 0px 0px var(--shadow-color);
}

.nav{
    background-color: var(--secend-background);
    width: 40vw;
    height: 100vh;
}

.aside{
    width: 60vw;    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 40vw;
    text-align: center;
    background-color: black;
    padding: 0.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
